@model WebStore9.Models.Employee

<div class="container">
    <h1>Подробно</h1>
    <hr />

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th>Старшинство</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.LastName</td>
                    <td>@Model.FirstName</td>
                    <td>@Model.Patronymic</td>
                    <td>@Model.Age</td>
                    <td>@Model.Seniority</td>
                </tr>
        </tbody>
    </table>
    <p>
        <a href="/Home/Employees">К списку</a>
    </p>
</div>
