@model EmployeeViewModel
@{
    ViewData["Title"] = "Подробности о сотруднике id:" + Model.Id;
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Имя
            </dt>
            <dd class="col-sm-10">
                @Model.Name
            </dd>
            <dt class="col-sm-2">
                Фамилия
            </dt>
            <dd class="col-sm-10">
                @Model.LastName
            </dd>
            <dt class="col-sm-2">
                Отчество
            </dt>
            <dd class="col-sm-10">
                @(string.IsNullOrEmpty(Model.Patronymic) ? "Не указано" : Model.Patronymic)
            </dd>
            <dt class="col-sm-2">
                Возраст
            </dt>
            <dd class="col-sm-10">
                @Model.Age
            </dd>
            <dt class="col-sm-2">
                Стаж
            </dt>
            <dd class="col-sm-10">
                @Model.Seniority
            </dd>
        </dl>

        <a asp-controller="Employees" asp-action="Index" class="btn btn-info">К списку</a>

    </div>
</div>